a
{ 
    color: #E40069; 
}

.fondo-negro {
    background-color: black;
}

.mouse-over {
    cursor: pointer;
}

.btn-recursos
{
    margin-top: -8%;
    margin-left: 5%;
    cursor: pointer;
}



.btn-volver
{
    cursor: pointer;
}



.jumbotron {
    padding: 1rem 2rem !important;
}

.img-derecha {
    margin-left: 85%;
}

.encabRecursos
{
    background-color: #7087B7;
}

.encabAprend
{
background-color:#009962;
}

.creditos
{
  color: #6E6E6E;  
  font-size: 90%;
  line-height: 1.5;
}

.logos
{
    width: 83%;
    height: 84%;
}

.cargando
{
  color: #7087B7;  
  font-size: 130%;
}

.indicaciones
{
    color: #7087B7;  
    font-size: 100%;  
}


