body {
    font-family: 'Dancing Script', cursive;
}

.fondo-negro {
    background-color: black;
}

.mouse-over {
    cursor: pointer;
}

.btn-recursos
{
    margin-top: -145px;
    margin-left: 16px;
    cursor: pointer;
}

.jumbotron {
    padding: 1rem 2rem !important;
}

.img-derecha {
    margin-left: 85%;
}



.btnvolver
{
    margin-top: -134px;
    margin-right: -80px
}

.encabRecursos
{
    background-color: #7087B7;
}

.encabAprend
{
background-color:#009962;
}

.creditos
{
  color: #7087B7;  
  font-size: 15px;
  font-weight: 100px;
  
}