body {
    font-family: 'Dancing Script', cursive;
}

.fondo-negro {
    background-color: black;
}

.mouse-over {
    cursor: pointer;
}

.btn-recursos
{
    margin-top: -145px;
    margin-left: 16px;
}


.btnvolver
{
    margin-top: -134px;
    margin-right: -80px
}


.encabRecursos
{
    background-color: #6c757d;
}

.encabAprend
{
    background-color: #6c757d;
}

