.menu{
    font-size: 3vh;
    color: blueviolet;
    font-weight: bold;
    cursor: pointer;
}

.menu-activo
    {
        border-bottom-style: ridge;
        border-bottom-color: coral;
        border-bottom-width: 7px;
    }
    
#op-covid{
    margin-left:5%;
}

#banner{
    width: 100%;
}